@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-red-hat-display);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@utility display-3xl {
  font-size: 3.75rem;
  line-height: 4.5rem;
}

@utility display-2xl {
  font-size: 3rem;
  line-height: 3.75rem;
  letter-spacing: -0.02em;
}

@utility display-xl {
  font-size: 2.5rem;
  line-height: 3.5rem;
  letter-spacing: -0.02em;
}

@utility display-lg {
  font-size: 2.25rem;
  line-height: 3rem;
  letter-spacing: -0.02em;
}

@utility display-md {
  font-size: 2rem;
  line-height: 2.875rem;
}

@utility display-sm {
  font-size: 1.75rem;
  line-height: 2.375rem;
}

@utility display-xs {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

@utility text-xl {
  font-size: 1.25rem;
  line-height: 2.125rem;
}

@utility text-lg {
  font-size: 1.125rem;
  line-height: 2rem;
}

@utility text-md {
  font-size: 1rem;
  line-height: 1.875rem;
}

@utility text-sm {
  font-size: 0.875rem;
  line-height: 1.75rem;
}

@utility text-xs {
  font-size: 0.75rem;
  line-height: 1.5rem;
}
